Package: com.lingyongqian.deleteundirectcontact
Name: DeleteUndirectContact
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-18+debug
Installed-Size: 128
