Package: com.lingyongqian.notecount
Name: NoteCount
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make count for note!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Homepage:http://www.baidu.com
