Package: com.lingyongqian.addphonecontact
Name: AddPhoneContact
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-25+debug
Installed-Size: 124
