Package: com.dxj.wcstep
Name: WCStep
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 120
