Package: com.lingyongqian.addwcfirend
Name: AddWCFirend
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Add WC Friend through username or v1!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-63+debug
Installed-Size: 120
