<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   com.lingyongqian.iosred.plist
   

   Created by 戴曦嘉 on 2017/9/25.
   Copyright (c) 2017年 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
