Package: com.lingyongqian.addfirend
Name: AddFirend
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-147+debug
Installed-Size: 120
