Package: com.lingyongqian.wxgroupcontrol
Name: WXGroupControl
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 120
