<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>通讯录</string>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>UninstallForLaunchServices</string>
		<string>SetCapabilities</string>
		<string>Lookup</string>
	</array>
</dict>
</plist>
