Package: com.lingyongqian.wcvideodownload
Name: WCVideoDownload
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: WeChat Video Download!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
