Package: com.lingyongqian.addwcv1contact
Name: AddWCV1Contact
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daxiijia
Author: daxiijia
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 120
