Package: com.lingyongqian.setvpn
Name: SetVPN
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daixijia
Author: daixijia
Section: Tweaks
Version: 0.0.1-45+debug
Installed-Size: 120
